* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(106, 168, 148);
  font-family: "Lobster", cursive;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0f2411;
}
.div-clear {
  clear: both;
}
.myImage {
  width: 100px;
  height: 100px;
  padding: 20px 25px;
  float: left;
}
.container {
  max-width: 1000px;
  height: 1000px;
  background-color: rgb(243, 237, 227);
  margin: 0 auto;
}
.header-bio {
  float: left;
  padding: 30px;
}
.header-contact {
  float: right;
  padding: 30px;
}
.header-contact a {
  text-decoration: none;
  color: black;
}
.header-contact a:hover {
  color: blue;
}
.item {
  font-weight: bold;
  font-size: 20px;
}

.left-part {
  float: left;
  padding: 20px;
  width: 300px;
}
.right-part {
  float: right;
  padding: 20px;
  width: 600px;
}

.mainListPart {
}
.subListPart {
  width: 500px;
  margin: 8px 100px;
  position: relative;
}
.subListPart2 {
  list-style-type: none;
  width: 300px;
  position: absolute;
  top: 103px;
  left: 74px;
}
