* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(250, 250, 250);
  font-family: "Noto Serif", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0f2411;
  font-family: "Lobster", cursive;
  font-size: 25px;
}
.div-clear {
  clear: both;
}
.myImage {
  width: 100px;
  height: 100px;
  padding: 20px 25px;
  float: left;
}
.image {
  width: 100%;
  box-shadow: 6px 6px rgba(221, 245, 6, 0.61);
  border-radius: 20px;
}
.container {
  max-width: 1000px;
  background-image: linear-gradient(
    -45deg,
    rgba(26, 50, 51, 0.863),
    rgba(13, 75, 17, 0.788),
    rgba(13, 75, 17, 0.788),
    rgba(26, 50, 51, 0.863),
    transparent
  );
  margin: 0 auto;
  color: white;
  box-shadow: 5px 25px 14px orange;
}
.header-bio {
  float: left;
  padding: 30px;
}
.header-bio h1,
.design {
  font-family: "Berkshire Swash", cursive;
  text-shadow: 5px 3px 4px yellow;
}
.design {
  margin: 0px 25px;
}
.name {
  color: rgb(55, 27, 184);
}
.lastName {
  color: blueviolet;
}
.header-contact {
  float: right;
  padding: 30px;
}
.header-contact a {
  text-decoration: none;
  color: white;
}
.header-contact a:hover {
  color: blue;
}
.item {
  font-weight: bold;
  font-size: 20px;
}

.left-part {
  float: left;
  padding: 20px;
  width: 300px;
}
.right-part {
  float: right;
  padding: 20px;
  width: 600px;
}

.mainListPart {
}
.subListPart {
  width: 500px;
  margin: 8px 100px;
  position: relative;
}
.subListPart2 {
  list-style-type: none;
  width: 300px;
  position: absolute;
  top: 113px;
  left: 74px;
}
.footer {
  max-width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
.social-site {
  margin: 10px 15px;
}
.social-site a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  padding: 5px 15px;
}
.social-site a:hover {
  color: blue;
  text-decoration: underline;
}
